<mdb-card  class="cardlist">
  <div class="text-white text-center py-4 px-4 my-5 waves-light">
    <div>
      <h2 class="card-title h1-responsive pt-2 mb-2 font-bold"><strong>Teste - Consumindo Api</strong></h2>
      <p class="mx-5 mb-5"> Lista de Usuários</p>
      <!-- <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
        <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
      </a> -->
    </div>
    <section class="section_list">
      <div class="table-responsive-sm">

          <!--Table-->
<table class="table table-striped w-auto" hover="true">

  <!--Table head-->
  <thead>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Detail</th>
          <th>Favorite</th>

      </tr>
  </thead>
  <!--Table head-->
          <tbody>
            <tr  *ngFor="let user of users$ |async ; let i = index">
              <th scope="row">{{user.id}}</th>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>
                <!-- <a mdbBtn floating="true" size="sm" mdbWavesEffect class="pr-3" (click)="salve(user)" >
                  <mdb-icon  [class]="colorFav"  fas icon="star"></mdb-icon>
                </a>   -->

                <button mdbBtn type="button" size="sm" gradient="peach" rounded="true" mdbWavesEffect (click)="getDetail(user?.id)">DETAIL</button>

                <!-- <a  mdbBtn floating="true" size="sm" mdbWavesEffect class="pr-3"  >
                  <mdb-icon  fas icon="eye"></mdb-icon>
                </a> -->
              </td>
              <td>
                <button mdbBtn type="button" size="sm" gradient="purple" rounded="true" mdbWavesEffect (click)="salve(user)">FAVORITE</button>

              </td>
            </tr>
          </tbody>
        </table>


      </div>
      </section>
  </div>
</mdb-card>
