
.cardListUser{
   display: flex;
    position: relative !important;
    align-items: center !important;
    margin: auto;
}
.spinner {
  display: block;
    position: relative;
    margin: 50%;
    padding: 10px;
}
agm-map {
  height: 300px;
 }
