<!-- Jumbotron -->
<div class="content">
  <div class="jumbotron p-0">
    <!-- Card content -->
    <div class="card-body text-center mb-3">
      <!-- Default form login -->
      <form
      [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)"
      formControl   class="text-center border border-light p-5" >
        <h3 class="card-title h3 my-4"><strong>Sign In</strong></h3>
        <!-- Email -->
        <input type="email" formControlName="email"  id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
        <!-- Password -->
        <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <!-- <mdb-checkbox [default]="true">Remember me</mdb-checkbox> -->
          </div>
        </div>
        <!-- Sign in button -->
        <button mdbBtn color="info" block="true"
         gradient="purple" rounded="true" class="white-text mb-4"
          mdbWavesEffect
          type="submit"
          >Sign in</button>
      </form>


    </div>

  </div>
</div>
